extends layout

block content

  div.welcome
    div.introduction Welcome to ODL
      span THEK
    div.introductionText Sevenval Technologies GmbH
    br
    div.t-center
      a(href="/").loginbutton back

  div Sevenval Technologies GmbH
  br
  div Bahnhofsvorplatz 1
  div 50667 Köln
  div Phone: +49 (0) 221 650 07 – 0
  div Fax: +49 (0) 2216500765
  div E-Mail: info(at)sevenval.com
  div Homepage: www.sevenval.com
  br
  br
  div Standort Berlin
  div Köpenicker Straße 154
  div 10997 Berlin
  div Phone: +49 (0) 30 707 190 200
  div Fax: +49 (0) 30 707 190 201
  div Standort Wien
  br
  div Kaiserstaße 113-115
  div 1070 Wien
  div Österreich
  div Phone: +43 (0) 152 250 061 14
  div Fax: +43 (0) 152 250 061 16
  br
  div Rechtsform:
  br
  div GmbH – Gesellschaft mit beschränkter Haftung
  div Handelsregister: Amtsgericht Köln HRB 79823
  div Umsatzsteuer-Identifikationsnummer: DE815448435
  br
  div Geschäftsführer:
  br
  div Joern-Carlos Kuntze
  div Jan Webering
  div Thorsten May
  br
  br
  div DUNS / UPIK
  br
  div 342766551
  br
  br
  div Bildnachweis:
  br
  div Sevenval Technologies GmbH
  br
  br
  div Datenschutz:
  br
  div Zu Zwecken des Marketings und der Optimierung werden auf dieser Web-Site Produkte und Dienstleistungen der WiredMinds (www.wiredminds.de) verwendet. Dabei werden Daten erhoben, verarbeitet und gespeichert, aus denen unter einem Pseudonym Nutzungsprofile erstellt werden. Wo möglich und sinnvoll werden die Nutzungsprofile vollständig anonymisiert. Hierzu können Cookies zum Einsatz kommen. Cookies sind kleine Textdateien, die im Internet-Browser des Besuchers gespeichert werden und zur Wiedererkennung des Internet-Browsers dienen. Die erhobenen Daten, die auch personenbezogene Daten beinhalten können, werden an WiredMinds übermittelt oder direkt von WiredMinds erhoben. WiredMinds darf Informationen, die durch Besuche auf den Webseiten hinterlassen werden, nutzen um anonymisierte Nutzungsprofile zu erstellen. Die dabei gewonnenen Daten werden ohne die gesondert erteilte Zustimmung des Betroffenen nicht benutzt, um den Besucher dieser WebSite persönlich zu identifizieren und sie werden nicht mit personenbezogenen Daten über den Träger des Pseudonyms zusammengeführt. Soweit IP-Adressen erhoben werden, werden diese unverzüglich nach Erhebung durch Löschen des letzten Nummernblocks anonymisiert. Der Datenerhebung, -verarbeitung und –speicherung kann jederzeit mit Wirkung für die Zukunft widersprochen werden.