extends layout

block content
  
  #content
    #phones
      div.welcome
        div Lieber User, 
        div WIllkommen auf der OLDthek, Have fun
      h1 Smartphones
      ul.elements
        - each gadget in gadgets
          li.element
            img(src='/img/device.jpg')
            div.traffic
            div.click
              div.brand= gadget.brand
              div.name= gadget.name
              span.isolator
              div.os= gadget.os
  