doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/javascripts/script.js")
    link(href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,300italic' rel='stylesheet' type='text/css')
  body
    #head
      div.head
        div.logo 
          img(src='/img/Logo_sevenval.gif', class='logoImg') 
          div.claim 
            span  
              b ODL
              span THEK
        ul.menu 
          if(locals.user)
            if(user.role == 'admin')
              li
                a(href="/users/") users
            li
              a(href="/gadgets/") gadgets
            li
              a(href="/bookings/") bookings
        div#user
          if(locals.user)
            div(style="float: left;")
            p.username= user.displayname
            p.login 
              a(href="/users/logout") logout
          else
            p.login
              a(href="/users/auth/github") login
      //- div.separator
      //-   div#sep.sepertatorlineDevice 
    block content