doctype html
html
  head
    title= "ODL // " + title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/styles-new.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/detail.css')
    link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic' rel='stylesheet' type='text/css')
    body(class= (user && user.role === "admin" ? "admin-ui" : ""))
    .container

      .header

        .logo
          a(href="/")
            img(src='/img/Logo_sevenval.gif', class='logoImg')
            br
            b ODL
            span THEK

        if(locals.user)
          ul.nav.nav-pills
            li.active
              a(href="/") Gadgets
            li
              a(href="/gadgets/top") Top
            li
              a(href="/bookings") Bookings
            if(user.role == 'admin')
              li
                a(href="/users/") Users

          .account.text-right
            .pull-left
              strong=user.email
              br
              a(href="/users/logout") logout
            .pull-right
              img(src=user.avatarurl)

      #content
        block content

      #footer
        a(href='/imprint') imprint

      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      script(src="/javascripts/bootstrap.min.js")
      script(src="/javascripts/script.js")
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-51322760-1', 'odl-thek.herokuapp.com');
        ga('send', 'pageview');


