doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navi
      if(locals.user)
        a(href="/users/logout") logout
      else
        a(href="/users/auth/github") login
      span= " "
      a(href="/users/list") users
      span= " "
      a(href="/gadgets/") gadgets
    block content