.detailpage > .basic {
  position: relative;
  height: 300px;
  background-color: #fff;
  width: 100%;
  color: #415060;
}

.detailpage > .basic > .bottom {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.detailpage > .basic > .right {
  position: absolute;
  top: 50px;
  right: 700px;
}
.detailpage > .basic > .top {
  position: absolute;
  top: 87px;
  left: 10px;
}


.detailpage > .basic > .image {
  position: absolute;
  top: 0;
  right: 0;
}

.detailpage  .active .button {
  position: absolute;
  bottom: -50px;
  right: 10px;
  border-radius: 10px;
  width:95px;
  height: 32px;
  background-color: #1CA055;
  color: #fff;
  padding-top: 15px;
  text-align: center;
}

.detailpage > .basic > .button {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  width:95px;
  height: 32px;
  background-color: #1CA055;
  color: #fff;
  padding-top: 15px;
  text-align: center;
}

a.loginbutton {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  width:155px;
  height: 32px;
  background-color: #fff;
  color: #415060 !important;
  padding-top: 15px;
  text-align: center;
  font-weight: 700;
}

.detailpage > .basic {
  margin-bottom: 30px;
}

.detailpage > .basic  h2 {
  font-size: 16px;
  font-weight: 300;
  color: #415060;
  margin-bottom: 0;
}
.detailpage > .basic  h1 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 0;
  color: #415060;
}
.detailcontent > div {
  float: left;
}
.detailcontent > .desc {
  padding: 10px 10px;
  width: 540px;
  min-height: 400px;
  color: #415060;
}

.detailcontent > .info {
  padding: 10px;
  width: 300px;
  margin-left: 80px;
  margin-top: 10px;
  background-color: #415060;
  color: #fff;
  border-radius: 0 10px 0 0;
  line-height: 1.4em;
}
.detailcontent > a.booknow {
  display: block;
  float:left;
  height: 30px;
  padding: 15px 10px 5px 10px;
  width: 300px;
  margin-left: 80px;
  margin-top: 10px;
  background-color: #1CA055;
  color: #fff;
  border-radius: 0 10px 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.detailbookings tr > th {
  padding:10px;
  color: #fff;
  background-color: #1CA055;
}

.detailbookings tr > td {
  padding:10px;
  color: #fff;
}
.detailbookings tr:nth-child(odd) {background-color: #566270; border-spacing:1px;}
.detailbookings tr:nth-child(even) {background-color: #405060}

.detailbookingsUser tr > th {
  height: 50px;
  color: #fff;
  background-color: #1CA055;
}

.detailbookingsUser tr > td {
  height: 50px;
  color: #fff;
  border-right: 0.2em solid;
}
.detailbookingsUser tr:nth-child(odd) {background-color: #566270; border-spacing:1px;}
.detailbookings tr:nth-child(even) {background-color: #405060}


