body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  background-color: #D9F1E3;
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-family: Ubuntu, sans-serif;
	font-size: 0.9em;
  color: #1CA055;
}
#layer {
  display: none;
}
#content {
	width: 100%;
	}
#head {
	height: 100px;
	overflow: hidden;
	background-color: #1CA055;
	vertical-align: bottom;
	position: relative;
}
#head a {
  color: #fff;
}
.head {
	padding: 20px 50px 0 50px;
	height: 75px;
}
.logo {
	display: block;
	width: 20%;
}
.logoImg {
	width: 80%;
}

#footer {
	background-color: #1F2022;
	height: 50px;
	margin-top: 40px;
	padding: 9px 19px;
	color: white;
	text-align: right;
}
#footer a {
	color: #ddd;

}
/* PHONES */
.welcome {
	text-align: center;
	padding: 9px;
	margin-bottom: 40px;
	height: 400px;
	font-style: normal;
	color: white;
	background-color: #1F2022;
	background-image: url(/img/skyline.png);
	background-repeat: no-repeat; 
	background-position: bottom;
}
.introduction {
	font-size: 60px;
	font-weight: 700;
	padding-top: 130px;
}
.introduction span {
	font-weight: 100;
}
.introductionText {
	padding-top: 35px;
	font-size: 24px;
	font-weight: 300;
}
#phones {

}
#phones h1 {
  color: #405060;
  font-size: 16px;
	font-weight: 600;
	font-style: normal;
	margin: 9px;
	padding: 0;
}
#phones h2 {

}
.elements {
	/*padding: 0 10px;*/
}
ul {padding:0; margin: 0;}
.elements .element{
	float: left;
	width: 220px;
	margin: 9px 9px;
	border:1px solid white;
	background-color: white;
	text-align: center;
	border-radius: 0 10px 0 0 ;
	height: 320px;
	list-style: none;
}
.overlay {
	border-radius: 0 10px 0 0 ;
	display: block;
	height: 320px;
	width: 220px;
	background-color: #405060;
	text-align: center;
}
.hide {
	display: none;
}
.element img {
	max-width: 215px;
	border-radius: 0 20px 0 0 ;
	height: 220px;
}
.traffic_overlay {
	background-color: #1CA055;
	height: 15px;
	display: block;
	border-radius: 0 10px 0 0 ;
}
.traffic{
	background-color: #1CA055;
	height: 5px;
}
.traffic_reserved{
	background-color: yellow;
	height: 5px;
}
.traffic_handout{
	background-color: red;
	height: 5px;
}
.spec {
	text-align: left;
	
	
}
.click{
	font-weight: normal;
	background-color: #405060;
	height: 95px; 
	display: block;
	height: 95px;
  text-align: left;
  padding: 0 10px; 
	font-size: 12px;
}
.brand {
	padding: 10px 0 5px 0;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	color: white;
	display: block;
}
.isolator {
	border: 1px solid #ddd;
	display: block;
	margin-bottom: 5px;
}
.name {
	color: white;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	height: 41px;
	display: block;
}
.os {
	font-size: 11px;
	color: white;
	font-weight: 300;
	font-style: italic;
}
.lastBook {
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	color: white;
	text-align: left;
	padding: 15px 9px 90px 9px;
	line-height: 22px;
}
.lastBook .user{
	font-weight: 400;
}
.buttons {
	position: relative;
}
.buttons div a {
  position: relative;
  top: 15px;
}
.buttons div {
	height: 50px;
	width: 95px;
	border-radius: 10px;
	background-color: #1CA055;
	color: white;
	position: absolute;
	text-align: center;
	vertical-align: middle;
}
.booking {
    background-color: #008000;
    height: 50px;
    left: 115px;
    position: relative;
    right: 9px;
    vertical-align: bottom;
    width: 95px;
}
.detail {
    background-color: #008000;
    height: 50px;
    left: 9px;
    position: relative;
    vertical-align: bottom;
    width: 95px;
}
.buttons table {
	width: 100%
}
.buttons a {color: white}
.buttons td {
	width: 95px;
	height: 50px;
	background-color: #1CA055; 
	text-align: center;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
}
.buttons .space {
	width: 9px;
  background-color: #405060;
}
.claim {
	font-family: Ubuntu, sans-serif;
	font-size: 1.1em;
	color: white;
}
.menu {
	position: relative;
	top: -25px;
	padding: 0 0 0 20%;
	margin: 0;
}
.menu li{
	display: inline-block;
	width: 100px;
	padding: 0 0.5em;
	font-size: 1.5em;
	text-align: center;
}

.separator {
	height: 5px;
	background-color: #1CA055;
}
.sepertatorlineDevice {
	width: 60px;
  background-color: #0E7A3C;
  height: 5px;
  position: absolute;
  left: 24.5%;
}
.sepertatorlineDMost {
	width: 60px;
  background-color: #0E7A3C;
  height: 5px;
  position: absolute;
  left: 33.5%;
}
.sepertatorlineBooking {
	width: 100px;
  background-color: #0E7A3C;
  height: 5px;
  position: absolute;
  left: 41%;
}
#user {
	position: absolute;
  top: 0;
  right:0;
  padding: 0 0 0 20%;
  margin: 0;
  height: 95px;
  text-align: right;
  font-family: Ubuntu, sans-serif;
	font-size: 1em;
	color: white;
}
.username {
	padding: 0;
	margin: 0;
	position: relative;
	right: 7%;
	top: 20%;
}
.login {
	position: relative;
	right: 7%;
	top: 13%;
}
.profile {
	position: relative;
	top: -40px;
}
.profilImg {
	border-radius: 0 2px 0 0;
}
/* search */
#search {
	text-align: left;
	padding: 9px;
}
#inputTextSearch {
  width: 80%;
  line-height: 50px;
  border: none;
  background-color: white;
  float: left;
  padding-right: 10px;
}
.lupe {
	margin-top: 2px;
  background-color: #1CA055;
  float: left;
  width: 50px;
  border-radius: 0 10px 0 0 ;
  margin-right: 10px;
}
#inputButtonSearch{
	margin-top: 2px;
	padding-bottom: 2px;
	background-color: #1CA055;  
	border-radius: 0 10px 0 0 ;
}

.inputButtonSearch{

}



.clear{clear: both;}
