body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  background-color: #D9F1E3;
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-family: Ubuntu, sans-serif;
	font-size: 0.9em;
  color: #1CA055;
}
#layer {
  display: none;
}
#content {
	width: 100%;
	}
#head {
	height: 100px;
	overflow: hidden;
	background-color: #1CA055;
	vertical-align: bottom;
	position: relative;
}
#head a {
  color: #fff;
}
.head {
	padding: 20px 50px 0 50px;
	height: 75px;
}
.logo {
	display: block;
	width: 20%;
}
.logoImg {
	width: 80%;
}

#footer {
	background-color: #1F2022;
	height: 50px;
	margin-top: 40px;
	padding: 9px 19px;
	color: white;
	text-align: right;
}
#footer a {
	color: #ddd;

}
/* PHONES */
.welcome {
	text-align: center;
	padding: 9px;
	margin-bottom: 40px;
	height: 400px;
	font-style: normal;
	color: white;
	background-color: #1F2022;
	background-image: url(/img/skyline.png);
	background-repeat: no-repeat; 
	background-position: bottom;
}
.introduction {
	font-size: 60px;
	font-weight: 700;
	padding-top: 130px;
}
.introduction span {
	font-weight: 100;
}
.introductionText {
	padding-top: 35px;
	font-size: 24px;
	font-weight: 300;
}
#phones {

}
#phones h1 {
  color: #405060;
  font-size: 16px;
	font-weight: 600;
	font-style: normal;
	margin: 9px;
	padding: 0;
}
#phones h2 {

}
.elements {
	/*padding: 0 10px;*/
}
ul {padding:0; margin: 0;}
.elements .element{
	float: left;
	width: 220px;
	margin: 9px 9px;
	border:1px solid white;
	background-color: white;
	text-align: center;
	border-radius: 0 10px 0 0 ;
	height: 320px;
	list-style: none;
}
.overlay {
	border-radius: 0 10px 0 0 ;
	display: block;
	height: 320px;
	width: 220px;
	background-color: #405060;
	text-align: center;
}
.hide {
	display: none;
}
.element img {
	width:100%;
  border-radius: 0 10px 0 0 ;
	height: 220px;
}
.info {
	border-radius: 0 10px 0 0 ;
}
.traffic{
	background-color: #1CA055;
	height: 15px;
  border-radius: 0 10px 0 0 ;
}
.traffic_reserved{
	background-color: yellow;
	height: 15px;
  border-radius: 0 10px 0 0 ;
}
.traffic_handout{
	background-color: red;
	height: 15px;
  border-radius: 0 10px 0 0 ;
}

.smallline {
  height: 5px;
  border-radius: 0 ;

}
.spec {
	text-align: left;
	
	
}
.click{
	font-weight: normal;
	background-color: #405060;
	height: 95px; 
	display: block;
	height: 95px;
  text-align: left;
  padding: 0 10px; 
	font-size: 12px;
}
.brand {
	padding: 10px 0 5px 0;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	color: white;
	display: block;
}
.isolator {
	border: 1px solid #ddd;
	display: block;
	margin-bottom: 5px;
}
.name {
	color: white;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	height: 41px;
	display: block;
}
.os {
	font-size: 11px;
	color: white;
	font-weight: 300;
	font-style: italic;
}
.lastBook {
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	color: white;
	text-align: left;
	padding: 15px 9px 90px 9px;
	line-height: 22px;
	background-color: #405060;
}
.lastBook .user{
	font-weight: 400;
}
.buttons {
	position: relative;
	height: 66px;
}
.grey {
	background-color: #405060;
	border-radius: 0 10px 0 0;
}
.buttons div a {
  position: relative;
  top: 15px;
  display: block;

}
.buttons div {
	height: 50px;
	width: 95px;
	border-radius: 10px;
	background-color: #1CA055;
	color: white;
	position: absolute;
	text-align: center;
	vertical-align: middle;
}
.booking {
    background-color: #008000;
    height: 50px;
    left: 115px;
    position: relative;
    right: 9px;
    width: 95px;
}
.detail {
    background-color: #008000;
    height: 50px;
    left: 9px;
    position: relative;
    vertical-align: bottom;
    width: 95px;
}
.buttons table {
	width: 100%
}
.buttons a {color: white}
.buttons td {
	width: 95px;
	height: 50px;
	background-color: #1CA055; 
	text-align: center;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
}
.buttons .space {
	width: 9px;
  background-color: #405060;
}
.claim {
	font-family: Ubuntu, sans-serif;
	font-size: 1.1em;
	color: white;
}
.menu {
	position: relative;
	top: -25px;
	padding: 0 0 0 20%;
	margin: 0;
}
.menu li{
	display: inline-block;
	width: 100px;
	padding: 0 0.5em;
	font-size: 1.5em;
	text-align: center;
}

.separator {
	height: 5px;
	background-color: #1CA055;
}
.sepertatorlineDevice {
	width: 60px;
  background-color: #0E7A3C;
  height: 5px;
  position: absolute;
  left: 24.5%;
}
.sepertatorlineDMost {
	width: 60px;
  background-color: #0E7A3C;
  height: 5px;
  position: absolute;
  left: 33.5%;
}
.sepertatorlineBooking {
	width: 100px;
  background-color: #0E7A3C;
  height: 5px;
  position: absolute;
  left: 41%;
}
#user {
	position: absolute;
  top: 0;
  right:0;
  padding: 0 0 0 20%;
  margin: 0;
  height: 95px;
  text-align: right;
  font-family: Ubuntu, sans-serif;
	font-size: 1em;
	color: white;
}
.username {
	padding: 0;
	margin: 0;
	position: relative;
	right: 7%;
	top: 20%;
}
.login {
	position: relative;
	right: 7%;
	top: 13%;
}
.profile {
	position: relative;
	top: -40px;
}
.profilImg {
	border-radius: 0 2px 0 0;
}
/* search */
#search {
	text-align: left;
	padding: 9px;
}
#inputTextSearch {
  width: 75%;
  line-height: 50px;
  border: none;
  background-color: white;
  float: left;
  padding-right: 10px;
}
.lupe {
	margin-top: 2px;
  background-color: #1CA055;
  float: left;
  width: 50px;
  border-radius: 0 10px 0 0 ;
  margin-right: 10px;
}
#inputButtonSearch{
	margin-top: 2px;
	padding-bottom: 2px;
	background-color: #1CA055;  
	border-radius: 0 10px 0 0 ;
}

.inputButtonSearch{

}

/* Book kadget Overlay */

#layerBookGadget {
  position: fixed;
  display: none;
  top: 100;
  border-radius: 0 10px 0 0 ;
	width: 640px;
	max-height: 410px;
	background-color: #D9F1E3;
	margin: 0 auto;
  margin-left: 160px;
/*	border: 1px solid grey;*/
z-index: 20;
}
#layerBookGadget input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
}


#layerBookGadget .error {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #f00;
}

#layerBookGadget .ok {
  height: 370px;
  text-align: center;
font-size: 36px;
padding-top: 120px;
font-weight: 700;
color: #415060;
}


#blank {
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  opacity: 0.8;
  background-color: #000;
  z-index: 10;
}
.getBook h1 {
	padding: 16px 0 0 0;
	margin: 0;
	font-size: 36px;
  font-weight: 700;
  font-style: normal;
}
.getBook {
	padding: 0 40px;
	height: 100px;
	background-color: #1CA055;
	color: white;
	border-radius: 0 10px 0 0 ;
	background-image: url(/img/close_btn.gif);
  background-repeat: no-repeat;
  background-position: 90% center;
}

.bookBrand {
	font-weight: 300;
	font-size: 16px;
	margin-right: 4px;
}

.bookName {
	font-weight: 700;
	font-size: 16px;
}
.bookingTime {
	padding:25px 40px;
	height: 290px;
	position: relative;
}
.bookingTime h2{
	padding: 0 ;
	margin: 0;
	
}

.bookingTime .start, .btw {
	float: left;
}
.btw {
	height: 200px;
	background-image: url(/img/till_btn.gif);
	background-position: center center;
  background-repeat: no-repeat;
  width: 157px;
}
.start h2, .end h2 {
	font-weight: 7#40506000;
	font-size: 16px;
	font-style: normal;
	color: #405060;
	padding-bottom: 10px;
}

input[type="date"], input[type="time"]{
  height: 50px;
  display: block;
  width: 150px;
  border: none;
  float: left;
  margin-bottom: 25px;
  color: #405060;
 }

.dateIcon, .timeIcon {
	display: block;
  background-color: #405060;
  width: 50px;
  height: 50px;
	border-radius: 0 10px 0 0 ;
  float: left;
  background-image: url(/img/dropdown_arrow_btn.gif);
  background-repeat: no-repeat;
}
.book span, .cancle span {
  padding-top: 15px;
  display: block;
}
.book  {
	height: 50px;
  width: 200px;
  background-color: green;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: white;
}
.book {
  position: absolute;
  right: 40px;
}
/* overlay */
#overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    height:100%;
    width:100%;
    background:#000;
    filter:alpha(opacity=60);
    -moz-opacity:.60;
    opacity:.60;
    display:none;
}
.clear{clear: both;}
