extends ../layout

block content
  if(locals.bookings)
    table.bookingList
      tr.headline
        th Name
        th Device (ID)
        th Start Reservation
        th End Reservation
        th Status
        th
        th
      - each booking in bookings
        tr
          td.user
            =booking.username
          td.devName
            =booking.gadgetname
          td.startDate
            =fmtDatetime(booking.start)
          td.endDate
            =fmtDatetime(booking.end)
          td
            =booking.status
          td.green
            a(
                href="/bookings/" + booking._id + "/edit",
                data-toggle="modal",
                data-target="#bookingModal"
              ).edit
          td.green
              a(href="/bookings/" + booking._id + "/remove").cancel-booking.cancel