extends ../layout

block content
  #layer
  if(locals.bookings)
    table(style="width:100%")
      - each booking in bookings
        tr
          td= booking.username
          td= booking.gadgetname
          td
            if(booking.start)
              span= booking.startdate
          td
            if(booking.end)
              span= booking.enddate
          td
            if(!booking.status)
              a(href="/bookings/"+booking._id+"/handout") hand out
            if(booking.status=='handout')
              a(href="/bookings/"+booking._id+"/takeback") take back
            if(booking.status=='closed')
              span closed
          td
            a(onclick="openBookingLayer('/bookings/"+booking._id+"/edit')") edit
          td
            a(href="/bookings/remove/"+booking._id) cancel
  else
    div No bookings.
