extends ../layout

block content
  #layer
  if(locals.bookings)
    table(style="width:90%;border-spacing:0px").bookingList
      tr.headline
        th Name
        th Device/ID
        th Start Reservation
        th End Reservation
        th
        th 
        th.last 
      - each booking in bookings
        tr
          td.user= booking.username
          td.devName= booking.gadgetname
          td.startDate
            if(booking.start)
              span= booking.startdate
          td.endDate
            if(booking.end)
              span= booking.enddate
          td
            if(!booking.status)
              a(href="/bookings/"+booking._id+"/handout").handOut
            if(booking.status=='handout')
              a(href="/bookings/"+booking._id+"/takeback").takeBack
            if(booking.status=='closed')
              span closed
          td
            a(href="/bookings/remove/"+booking._id).cancel
  else
    div No bookings.
td
            a(onclick="openBookingLayer('/bookings/"+booking._id+"/edit')").edit
          