extends ../layout

block content

  if(bookings && (bookings.open || bookings.handout || bookings.closed))
    .table-responsive
      table
        tr
          th Name
          th Device (ID)
          th Start Reservation
          th End Reservation
          th Handout
          th Takeback
          th
          th
          th

        if(bookings && bookings.open)
         tr.spacer
            th(colspan=9)
          tr.section
            th(colspan=9)
              | Upcoming bookings
          - each booking in bookings.open
            include list-entry.jade

        if(bookings && bookings.handout)
          tr.spacer
            th(colspan=9)
          tr.section
            th(colspan=9)
              | Active bookings
          - each booking in bookings.handout
            include list-entry.jade

        if(bookings && bookings.closed)
          tr.spacer
            th(colspan=9)
          tr.section
            th(colspan=9)
              | Closed bookings
          - each booking in bookings.closed
            include list-entry.jade

  else
    h4 No bookings...