form(method='post',action="/bookings/"+gadget._id+"/new",id="book")
  h1= gadget.name

  div
    h2 Start
    input(type='date',name='startdate')
    input(type='time',name='starttime')
    h2 End
    input(type='date',name='enddate')
    input(type='time',name='endtime')
  br
  div(onclick="bookNow(); return false;") Buchen
  div
    div(style="text-align: right;",onclick="$('#book').hide();") schließen