div
  .getBook
    h1(onclick="$('#layerBookGadget').hide();$('#blank').hide();") Book
    span.bookBrand= gadget.brand
    span.bookName= gadget.name
    a(onclick="$('#book').hide();") X
  .ok Buchung erfolgreich