div.modal-header
	button(type="button", class="close", data-dismiss="modal") &times;
	h3 Booking successful
	= gadget.brand
	| 
	b= gadget.name

div.modal-body.text-center
	h3 Booking successfully saved!