extends ../layout

block content

  .details
    .row
      .col-md-8
        br
        a(href="/gadgets/").btn back

        h1 Import
      .col-md-4

    br
    if (errors)
      .alert.alert-danger.alert-dismissible
        button.close(data-dismiss="alert") &times;

        ul
          - each error in errors
            li
              if (error.object.name === 'MongoError')
                strong=error.object.err
                br
              else if (error.object.name === 'ValidationError')
                - each verror in error.object.errors
                  strong= verror.message
                  br
              =error.line
            br
      br

    br
    .alert.alert-warning
      strong Attention
      | Existing gadgets and bookings will be deleted!

    form(action="/gadgets/import", method="post",
      enctype="multipart/form-data", role="form").row

      .col-md-8
        .form-group
          input(type="file", name="file", accept="text/comma-separated-values")
          p.help-block
            | CSV structure: hwid,name,available,location,description,brand,model,os,type

      .col-md-4.tools-box
        input(type="submit", value="Import").btn
