extends ../layout

block content

  form(action='/gadgets/', method='get', id='search').clearfix
    input(type='search', name='q', value=q
      placeholder='Search gadgets by brand, model, type...' )

    input(type="submit", value="").btn.btn-search
    //a.btn.btn-filter
    if(user.role == 'admin')
      a(href='/gadgets/new').btn.btn-add

  ul.nav.nav-tabs
    each list, name in gadgets
      li(class= (name === 'Mobile') ? 'active' : '')
        a(href="#" + name, data-toggle="tab")
          =name + " (" + list.length + ")"

  .tab-content
    br
    each list, name in gadgets
      .tab-pane(id=name, class= (name === 'Mobile') ? 'active' : '')
        ul.gadget-list
          - each gadget in list
              include entry.jade
        div.clearfix