extends ../layout

block content

  form(action='/gadgets/', method='get', id='search').clearfix
    input(type='search', name='q', value=q
      placeholder='Search gadgets by brand, model, type...' )

    input(type="submit", value="").btn.btn-search
    //a.btn.btn-filter
    if(user.role == 'admin')
      a(href='/gadgets/new').btn.btn-add

  if (Object.keys(gadgets).length === 0)
    h4 Sorry, no gadgets found
  else
    ul.nav.nav-tabs
      - var i = 0
      - each gadgetGroup in gadgets
        li(class= (i === 0) ? 'active' : '')
          a(href="#" + gadgetGroup.name, data-toggle="tab")
            =gadgetGroup.name + " (" + gadgetGroup.count + ")"
          - i++

    .tab-content
      br
      - var i = 0
      - each gadgetGroup in gadgets
        .tab-pane(id=gadgetGroup.name, class= (i === 0) ? 'active' : '')
          - i++
          ul.gadget-list
            - each gadget in gadgetGroup.data
                include entry.jade
          div.clearfix