extends ../layout

block content
  h1= euser.name
  h2= euser.displayname
  if euser.avatarurl
    img(src=euser.avatarurl, style="width:100px; ")
  p
    form(action="/users/"+euser._id+"/setrole",method="post")
      select(name='role')
        if(euser.role == 'admin')
          option(selected) admin
        else
          option admin
        if(euser.role == 'user')
          option(selected) user
        else
          option user
      br

      if(euser.active)
        input(type='checkbox',name="active",checked="checked") 
      else 
        input(type='checkbox',name="active") 
      span Aktiv
      br
      input(type="submit")
  p
    a(href='/users/remove/'+euser._id) löschen
