extends ../layout

block content
  table.userlist
    tr
      th Name
      th Email
      th Role
      th Type
      th
      th
    - each user in users
      tr
        td
          =user.name
        td
          =user.email
        td
          =user.type
        td
          =user.role
        td
          a(href='/users/'+user._id)
            i.fa.fa-fw.fa-pencil.fa-lg
        td
          a(href='/users/remove/'+user._id)
            i.fa.fa-fw.fa-trash-o.fa-lg