extends ../layout

block content
  .table-responsive
    table
      tr
        th Displayname
        th Name
        th Email
        th Type
        th Role
        th
      - each user in users
        tr
          td
            =user.displayname
          td
            if (user.name)
              =user.name
            else
              | -
          td
            if (user.email)
              =user.email
            else
              | -
          td
            =user.type
          td
            =user.role
          td.tools
            a(href='/users/' + user._id).edit