extends ../layout

block content
  table(style="width: 90%; border-spacing:0px").userlist
    tr
      th.userName Name
      th.nick Nickname
      th.role Role
      th
    - each user in users
      tr
        td
          a(href='/users/'+user._id)= user.name
        td
          a(href='/users/'+user._id)= user.displayname 
        td
          span= user.role
        td.green
          a(href='/users/remove/'+user._id).cancel
  br
  br
  br
  br
  br
  br
  br
  br
  br
  