extends ../layout

block content
  h1= title
  table(style="width: 100%")
    - each user in users
      tr
        td
          a(href='/users/'+user._id)= user.name
        td
          span= user.displayname 
        td
          span= user.role
        td
          a(href='/users/remove/'+user._id) (löschen)
